<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Agregar Pelicula</h1>

    <form action="/movies/create" method="POST">
        <label for="title">Titulo de Pelicula</label>
        <input type="text" name="title" id="title">
        <br>
        <label for="length">Duración de Pelicula</label>
        <input type="text" name="length" id="length">
        <br>
        <label for="awards">Premios</label>
        <input type="text" name="awards" id="awards">
        <br>
        <label for="rating">Rating</label>
        <input type="text" name="rating" id="rating">
        <br>
        <label for="release">Release_date</label>
        <input type="date" name="release" id="release">
        <br>
        <label for="genre">genre_id</label>
        <input type="text" name="genre" id="genre">
        <button type="submit">Agregar</button>
    </form>
</body>

</html>