<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <% resultados.forEach(element=> { %>
            <%= element.title %>
                <br>
                <% }) %>




    </h1>
</body>

</html>