<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h3>
    <%= searchById.title %>
  </h3>
  <br>
  <br>
  <a href="/movies/edit/<%=searchById.id%>">Editar</a>

  <br>
  <br>

  <form action="/movies/delete/<%=searchById.id%>?_method=DELETE" method="POST">
    <button>Eliminar</button>
  </form>
</body>

</html>