<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <%= searchById.title %>
    <form
      action="/movies/delete/<%=searchById.id%>?_method=DELETE"
      method="POST"
    >
      <button>Eliminar</button>
    </form>
  </body>
</html>
