<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

<<<<<<< HEAD
  <body>
    <h1>Bienvenidos a Movies</h1>
  </body>
</html>
=======
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> Bienvienidos a Movies </h1>

</body>

</html>
>>>>>>> 0705b4fb1efa7fd3f3c09d6e70f277c190bf9854
