<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
   
    <a href="/movies/<%= element.id%> "> 
    
      <% listado.forEach(element=> { %>
        <% if (element.generos) { %> 
           <%= element.title%> - <%= element.generos.name %>
        <br />
        <% }) %> 
      <% } %>
    
    
    
    
    
    </a>
  </body>
</html>
