<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% listado.forEach(element=> { %>
        <a href="/movies/<%= element.id%> ">
            <%= element.title %>
                <br>
                <% }) %>
        </a>

</body>

</html>