<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <% pelicula.forEach(element=> { %>
        <%= element.title%>
            <br>
            <% }) %>

</body>

</html>